/** General */
* {
    font-family: 'Montserrat';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/** eek-navbar */
.eek-navbar {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.eek-navbar__nav {
    width: 100%;
}

/* https://getbootstrap.com/docs/5.1/layout/breakpoints/#min-width */

.eek-navbar__item--right {
    margin-left: auto;
}

@media (max-width: 991.98px) {
    .eek-navbar__item--logout {
        max-width: max-content;
        margin-left: auto;
    }
    .eek-navbar__item--logout a {
        margin: 0 1em;
    }
}

.eek-navbar__item--logout {
    background-color: #ea868f;
    border-radius: 0.5em
}

/** eek-fig */
.eek-figure__figcaption {
    padding-top: -4.5em;
    padding-left: 7em;
}

/** eek-facade */
.eek-facade {
    min-height: 85vh;
    width: 100%;
}

.eek-facade div {
    justify-self: center;
    align-self: center;
}

.eek-facade__slogan-block {
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    width: 100%;
    line-height: 1.5;
}

.eek-facade div h1 {
    font-size: 3.5em;
    font-family: 'Montserrat';
    transition: color 0.3s ease-in-out;
}

@media (max-width: 991.98px) {
    .eek-facade div h1 {
        font-size: 2.5em;
    }
}

.eek-facade div h1:hover {
    color: #dd736b;
}

.eek-facade .eek-facade__figcaption {
    padding-top: -4.5em;
    padding-left: 7em;
}

/** eek-image */
.eek-image {
    width: 500px;
    max-width: 100%;
}

.eek-image--space {
    animation: jiggle 5s alternate infinite;
}

@keyframes jiggle {
    0% {
        transform: translateY(0em);
    }
    33% {
        transform: translateY(-1em);
    }
    66% {
        transform: translateY(1em);

    }
    100% {
        transform: translateY(0em);
    }
}

/** eek-space */
.eek-space {
    background-color: #dee2e6;
    min-height: 100vh;
    width: 100%;
}

.eek-space div {
    justify-self: center;
    align-self: center;
}
