/** General */
* {
    font-family: 'Montserrat';
}

/** eek-navbar */
.eek-navbar {
    position: sticky;
    top: 0;
    background-color: white;
}

.eek-navbar__nav {
    width: 100%;
}

/* https://getbootstrap.com/docs/5.1/layout/breakpoints/#min-width */

.eek-navbar__item--right {
    margin-left: auto;
}

@media (max-width: 991.98px) {
    .eek-navbar__item--logout {
        max-width: max-content;
        margin-left: auto;
    }
    .eek-navbar__item--logout a {
        margin: 0 1em;
    }
}

.eek-navbar__item--logout {
    background-color: #ea868f;
    border-radius: 0.5em
}

/** eek-facade */
.eek-facade {
    height: 85vh;
    width: 100%;
}

.eek-facade div {
    justify-self: center;
    align-self: center;
}

.eek-facade__slogan-block {
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    width: 100%;
    line-height: 1.5;
}

.eek-facade div h1 {
    font-size: 3.5em;
    font-family: 'Montserrat';
    transition: color 0.3s ease-in-out;
}

@media (max-width: 991.98px) {
    .eek-facade div h1 {
        font-size: 2.5em;
    }
}

.eek-facade div h1:hover {
    color: #dd736b;
}

.eek-facade .eek-facade__figcaption {
    margin-top: -4.5em;
    margin-left: 7em;
}

/** eek-image */
.eek-image.eek-image--modern-cabin {
    width: 600px;
}

/** eek-space */
.eek-space {
    background-color: #dee2e6;
    min-height: 100vh;
}
